*{
    margin: 0;
    padding: 0;
    font-family: serif;
}
.banner{
   
    background-image: url('back.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    
}
.topbanner{
    text-align: center ;
    
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-style: italic;
    
    font-family: Geneva, Tahoma;
    font-size: 50px;
    color: rgb(240, 239, 241);
    height: 10%;
    width: 100%;
 }
 .links{
    width: 80%;
    margin: auto;
    padding: 5px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.logo{
    width: 100px;
    cursor: pointer;
    height: 2cm;

}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
.links ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 20px;

 
}
